<div class="body-wrapper">

<div class="main-wrapper">
	<h1>Mike's {{title | uppercase }}</h1>
	<section class="section-2">
		<div class="project-container">
			<section class="project-card"> 
				<article *ngFor="let project of projects" >
					<h2>{{ project.title }}</h2>
					<p>{{ project.excerpt }} </p>
					<ul *ngIf="project.tags">
						<li *ngFor="let tag of project.tags">
						{{ tag.name }}
						</li>
					</ul>
					<p *ngIf="project.category">Category: {{project.category.name}}</p>
				</article>
			</section>
		</div>
	</section>

	<section class="section-1">
		<section class="categories-and-tags">
			<h2>Categories</h2>
			<ul>
				<li *ngFor="let category of categories">{{category.name}}</li>
			</ul>
		</section>

		<section class="categories-and-tags">
			<h2>Tags</h2>
			<ul>
				<li *ngFor="let tag of tags">{{tag.name}}</li>
			</ul>
		</section>
	</section>
</div>

<footer class="center">
	<p>Created by {{ name }} &copy; {{ year }}</p>
</footer>

</div>


